.container {
    margin-left: 240px;
    background-color: rgb(244, 244, 244);

}

.categories {
    position: fixed;
    top: 56px;
    height: 56px;
    background-color: white;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    display: flex;
    padding-left: 24px;
    align-items: center;
    z-index: 1000;

}

.videoCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 136px 16px 0 16px;
}