.container {
    position: absolute;
    left: 240px;
    background-color: rgb(244, 244, 244);
    width: calc(100% - 240px);
}

.container.sidebarSmall {
    left: 72px;
    width: calc(100% - 72px);

}


.videoCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 136px 16px 0 16px;
}