.container {
    width: 290px;
    height: calc(100vh - 10px);
    background-color: white;
    position: fixed;
    right: 85px;
    top: 10px;
    z-index: 1000;
    overflow-y: scroll;
    overscroll-behavior: contain;
    border-right: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: transparent;
}

.container::-webkit-scrollbar-thumb {
    visibility: hidden;
    height: 56px;
    background-color: rgb(138, 138, 138);
  }

.container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

.titleContainer {
    height: 48px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
}

.titleContainer span {
    font-size: 16px;
}

.backButton {
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
    margin: 0 4px;
}

.listContainer {
    padding: 8px 0;
}

.listContainer button {
    width: 100%;
    height: 40px;
    padding: 0 36px 0 16px;
    text-align: start;
    background-color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #292929;
}

.listContainer button:hover {
    background-color: gray;
}

.listContainer button span {
    margin-left: 16px;
}

.checkIcon {
    width: 24px;
    height: 24px;
    visibility: hidden;
}

.checkIcon.checked {
    visibility: visible;
}

.container.dark {
    background-color: #202020;
    border-right: 1px solid #383838;
    border-left: 1px solid #383838;
}

.container button {
    background-color: #202020;
    color: #ffffff;
}

.container.dark button img {
    filter: invert(1);
}

.container.dark .titleContainer {
    border-bottom: 1px solid #383838;
    color: #ffffff;
}

.container.dark .titleContainer img {
    filter: invert(1);
}