.largeContainer {
    position: fixed;
    width: 240px;
    overflow-y: scroll;
    top: 56px;
    bottom: 0;
    overscroll-behavior: contain;
}

.largeContainer::-webkit-scrollbar {
    width: 14px;
}

.largeContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.largeContainer::-webkit-scrollbar-thumb {
    visibility: hidden;
    height: 56px;
    border-radius: 8px;
    background-color: rgb(138, 138, 138);
    border: 3px solid #FFF;
  }

  .largeContainer:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }



.section {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}

.section:nth-of-type(1), .section:nth-of-type(2) {
    padding: 12px 0;
}

.section h3 {
    font-size: 14px;
    padding: 4px 24px 8px 24px;
    text-transform: uppercase;
    color: #606060;
}



.subscriptions {
    padding: 8px 0;
}

.subscriptions img {
    border-radius: 50%;

}

.bottomLinks {
    padding: 8px 0;
    line-height: 18px;
}

.bottomLinks .first {
    padding: 4px 10px 0 24px;
}

.bottomLinks .second {
    padding: 12px 10px 0 24px;
}

.bottomLinks .third {
    padding: 16px 24px 8px 24px;
    font-size: 12px;
    color: #909090;
}

.bottomLinks a {
    text-decoration: none;
    color: #606060;
    font-size: 13px;
    font-weight: 500;
    margin-right: 8px;
    display: inline-block;
}

.smallContainer {
    position: fixed;
    top: 56px;
    bottom: 0;
    padding-top: 4px;
}

.smallContainer .item {
    height: 44px;
    width: 72px;
    padding: 16px 0 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
}

.smallContainer .item:hover {
    background-color: #f2f2f2;
}

.smallContainer .item img {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}

.smallContainer .item span {
    font-size: 10px;
    line-height: 14px;
}

.largeContainer.dark {
    background-color: #202020;
}

.smallContainer.dark {
    background-color: #202020;
}



.largeContainer.dark .whiteIcon img {
    filter: invert(1);
}

.largeContainer.dark .section {
    border-bottom: 1px solid #383838;
}

.largeContainer.dark::-webkit-scrollbar-thumb{
    border: 3px solid #202020;
}

.largeContainer.dark .section h3 ,.largeContainer.dark .bottomLinks a {
    color: #AAAAAA;
}

.largeContainer.dark .bottomLinks p {
    color: #717171;
}

.smallContainer.dark .item:hover {
    background-color: #383838;
}

.smallContainer.dark img {
    filter: invert(1);
}

.smallContainer.dark span {
    color: #ffffff;
}


